-e nemo-gym[dev] @ ../../
fhaviary[gsm8k,hotpotqa,notebook,llm]>=0.28.0
tqdm
datasets
huggingface-hub
pillow==12.3.0

hypotest @ git+https://github.com/EdisonScientific/hypotest.git@855727372bf19e644914a8c8b102f05f689af54f
